@charset "UTF-8";
/*By: Christopher Mukherjee*/
/*External CSS stylesheet for Trendex Website*/

/*Center the website content in the browser window*/
body
{
	border: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

html
{
	width: 100%;
	height: 100%;
}

.main
{
	position: absolute;
}

/*Required to center the website content*/
.block
{
	margin: 0 auto;
	display: block;
	width: 1013px;
	position: relative;
	text-align: left;
	z-index: 2;
}

.wrapper
{
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -45px;
	z-index: 2;
}

a.nodeco
{
	text-decoration: none;
	color: #5E5E5E;
}

/*Remove the default blue border displayed in some browsers around an image when it is a link*/
a img
{
	border: none;
}

/*Black background*/
.black
{
	position: relative;
	background-color: #0B0B0A;
	z-index: -1;
}

/*Text/paragraph styles*/
p, body
{
	font: 13px Verdana, sans-serif;
	color: #5E5E5E;
}

/*Hidden style*/
.hidden
{
	display: none;
}

/*Spaced out style for text*/
p.spaced
{
	font: 16px Verdana, sans-serif;
	line-height: 200%;
	color: #5E5E5E;	
	margin-bottom: 5px;
}

/*Smaller style for text*/
.small
{
	font: 11px Verdana, sans-serif;
}

/*Bigger style for text*/
.big
{
	font: 16px Verdana, sans-serif;
	line-height: 140%;
}

/*Different font for text*/
.diffFont
{
	font: 24px "Times New Roman", Times, serif;
	color: #A0A0A0;
}

/*White foreground/text color*/
.white
{
	color: white;
}

/*Bold style for text*/
.bold
{
	font-weight: bold;
}

/*Italic style for text*/
.italic
{
	font-style: italic;
}

/*Color for horizontal rule (line break)*/
hr
{
	color: #B1B1B1;
}

ul.spaced
{
	list-style-position: inside;
	padding-left: 40px;
}

ul.spaced li
{
	line-height: 200%;
	text-indent: -1em;
}

/*CSS for Francais/English language button on top right of page*/
.languagebutton
{
	top: -25px;
	padding-left: 10px;
	padding-right: 10px;
	height: 34px;
	right: 0px;
	float: right;
	position: absolute;
	display: block;
	z-index: 1;
	background-color: #064F77;
}

a.language
{
	color: white;
	text-decoration: none;
}

a.language:hover
{
	color: #A0A0A0;
}

/*CSS for Header, logo, and links*/
#header
{
	margin-top: 10px;
	position: relative;
	height: 60px;
	margin-bottom: 10px;
	z-index: 2;
}

.logo
{
	position: absolute;
	left: 0px;
	bottom: -5px;
}

.links
{
	float: right;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

/*CSS for Drop-Down Menu Links*/
ul.menu, ul.menu li, ul.menu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.menu
{
	position: relative;
	z-index: 597;
	float: left;
}

ul.menu li
{
	float: left;
	min-height: 1px;
	line-height: 1.3em;
	vertical-align: middle;
}

ul.menu li:hover
{
	position: relative;
	z-index: 599;
}

ul.menu ul
{
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 598;
	width: 170px;
	background-color: white;
	border-top: 1px solid #A9A9A9;
	border-left: 1px solid #A9A9A9;
	border-right: 1px solid #A9A9A9;
}

ul.menu ul.wider
{
	width: 190px;
	left: 3px;
}

#downlist1
{
	left: 7px;
}

#downlist2
{
	left: 10px;
}

ul.menu ul li
{
	float: none;
	border-bottom: 1px solid #A9A9A9;
}

ul.menu li:hover > ul
{
	visibility: visible;
}

ul.menu ul a
{
	padding: 10px 5px 10px 5px;
	color: #A0A0A0;
	text-decoration: none;
	display: block;
	margin-left: 8px;
}

ul.menu ul a:hover
{
	color: white;
	font-weight: bold;
	margin-left: 8px;
}

ul.menu ul li:hover
{
	padding-left: 4px;
	padding-right: 4px;
	width: 170px;
	background-color: #51A7E2;
	opacity: 0.85;
	filter: alpha(opacity=85); /*needed for IE*/
	left: -4px;
}

ul.menu ul.wider li:hover
{
	width: 190px;
}

/*CSS for Gastrend image, buttons, and text*/
.gastrend
{
	position: relative;
	float: left;
	height: 300px;
	width: 610px;
	z-index: 5;
}

.gastrend2
{
	position: relative;
	float: left;
	height: 300px;
	width: 1013px;
}

.gasImg
{
	float: left;
	left: 0px;
	position: absolute;
	width: 201px;
	height: 256px;
	z-index: 5;
}

.gasText
{
	float: right;
	position: absolute;
	right: 0px;
	margin-top: 20px;
	width: 375px;
	z-index: 5;
}

.gasText2
{
	float: right;
	position: absolute;
	right: 0px;
	margin-top: 20px;
	width: 800px;
}

/*Set gradient to repeat across screen*/
#gradient
{
	position: relative;
	background-image: url('images/indexgradient-gastrend.jpg');
	background-repeat: repeat-x;
	margin-top: 76px;
	height: 305px;
	width: 100%;
	z-index: -1;
}

/*CSS for Gastrend Lite image, buttons, and text*/
.gastrendLite
{
	position: relative;
	float: right;
	height: 300px;
	width: 610px;
	z-index: 5;
	margin-top: -70px;
}

.gastrendLite2
{
	position: relative;
	float: right;
	height: 300px;
	width: 1013px;
}

.gasLiteImg
{
	float: right;
	right: 0px;
	position: absolute;
	width: 201px;
	height: 256px;
	z-index: 5;
}

.gasLiteText
{
	float: left;
	position: absolute;
	left: 0px;
	margin-top: 25px;
	font: 13px Verdana, sans-serif;
	color: #5E5E5E;	
	width: 375px;
	z-index: 5;
}

.gasLiteText2
{
	float: left;
	position: absolute;
	left: 0px;
	margin-top: 25px;
	font: 13px Verdana, sans-serif;
	color: #5E5E5E;
	width: 800px;
}

/*CSS for Footer, legal text, and white logo*/
.push
{
	height: 45px;
}

#footer
{
	height: 45px;
	background-image: url('images/footerrepeatx.jpg');
	background-repeat: repeat-x;
	width: 100%;
	clear: both;
	bottom: 0px;
}

.centertext
{
	height: 45px;
	width: 100%;
	bottom: 0px;
}

.legal
{
	font: 12px Verdana, sans-serif;
	color: #5E5E5E;
	position: absolute;
	vertical-align: middle;
	line-height: 45px;
}

.footLogo
{
	float: right;
	right: 0px;
	top: 0px;
	position: absolute;
}

/*Invisible table to properly align labels and input boxes in forms*/
table, td
{
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
}

/*Centered style for text in table cells*/
td.center
{
	text-align: center;
}

/*No padding style for tables (or other elements)*/
.nopadding
{
	padding: 0;
	margin: 0;
}

/*Red error style for text*/
.error
{
	font-weight: bold;
	text-align: center;
	color: red;
}

/*Relative positioned container for absolute positioned elements*/
.container
{
	position: relative;
}

/*CSS to float DIVs to the left or right*/
.floatLeft
{
	float: left;
	left: 0px;
	position: absolute;
}

.floatRight
{
	float: right;
	right: 0px;
	position: absolute;
}

/*CSS for index page main content*/
.indexText
{
	position: absolute;
	width: 713px;
	text-align: justify;
}

/*Required to center the fading testimonials*/
.testimonials
{
	margin: 0 auto;
	position: relative;
	text-align: left;
	background: #A8D1FF;
	padding-top: 20px;
}

.indexEvents
{
	margin-top: 5px;
	position: absolute;
	width: 280px;
}

/*CSS for events page main content*/
.event
{
	position: relative;
	height: 160px;
	width: 1013px;
}

.eventImgGAWDA
{
	margin-top: 40px;
	width: 201px;
	height: 49px;
}

.eventImgAIWD
{
	width: 190px;
	height: 158px;
}

.eventImgAWS
{
	margin-top: 10px;
	width: 190px;
	height: 105px;
}

.eventTitle
{
	width: 340px;
	z-index: 100;
}

.eventText
{
	width: 800px;
}

.eventAddress
{
	padding-left: 350px;
	width: 275px;
	z-index: 50;
}

.eventBooth
{
	padding-left: 650px;
	width: 150px;
	z-index: 1;
}

/*CSS for about our company page main content*/
.companyText
{
	width: 555px;
	text-align: justify;
}

/*CSS for software packages page logo placement*/
.packagesLogo
{
	margin-right: 20px;
}

/*CSS for hardware page main content*/
.hardwareWidth
{
	width: 480px;
}

.hardwaretext1
{
	margin-left: 150px;
	width: 315px;
}

/*CSS to push down an element*/
.pushDown
{
	margin-top: 10px;
}

/*CSS to push down an element*/
.pushDown
{
	margin-top: 10px;
}

/*CSS to push down an element even more*/
.pushDownMore
{
	margin-top: 40px;
}

/*CSS for software page main content*/
.modules
{
	width: 1013px;
	border-collapse: collapse;
}

a.modulesLinks
{
	color: #5E5E5E;
	text-decoration: none;
}

/*Color alternating modules with gray shade*/
.coloredRow
{
	background-color: #F7F7F7;
}
